exportPattern("^[[:alpha:]]+")
useDynLib(tiltmod)
importFrom(Rcpp,sourceCpp)
importFrom("graphics", "plot")
importFrom("stats", "dbeta", "dunif", "integrate", "pbeta", "uniroot")
importFrom("utils", "combn")
importFrom("plyr","count")
importFrom("igraph","graph","simplify","E","V")
importFrom("foreach","foreach","%dopar%")
importFrom("parallel","makeCluster","stopCluster")
importFrom("doParallel","registerDoParallel")
importFrom("edgeR","DGEList","calcNormFactors","cpm")